// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

// ********** Icons Style **********

.iconsContainer {
  @media(max-width: $breakpointMobile) {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1em;
  }
  position: absolute;
  top: 0;
  z-index: 1;
  width: fit-content;
  padding: 2em;
}

.menuIconContainer {
  cursor: pointer;
}

.closeIconContainer {
  cursor: pointer;
}

.toggleIcon {
  color: $colorQuaternary;
  font-size: 2em;
  border-radius: 50%;
  padding: 0.2em;
  background-image: radial-gradient(
                  120% 100% at 110% 0,
                  $colorTertiary 0,
                  $colorPrimary 100%
  );
  box-shadow: $boxShadowItem;
}

// ********** Animation On Click swap icons with toggle **********

.animatedIcons {
  transform: rotateY(180deg);
  transition: all 300ms;
}

.animatedIcons--alt {
  transform: rotateY(360deg);
  transition: all 300ms;
}