// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.sectionInfo {
  @media (max-width: $breakpointTablet) {
    min-width: 30%;
    max-width: 30%;
  }
  @media (max-width: $breakpointMobile) {
    display: none;
  }
  min-width: 20%;
  max-width: 20%;
  height: 100%;
  position: sticky;
  top: 0;
  background: $colorQuaternary;
  display: flex;
  z-index: 2;
}

.infoContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-flow: column;
  gap: 2em;
  text-align: center;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

.infoContainer__info {
  width: 100%;
  display: flex;
  flex-flow: column;
  gap: 0.5em;
}

.infoContainer__info__title {
  @media (max-width: 1280px) {
    font-size: 1em;
  }
  color: $colorPrimary;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
}

.infoContainer__info__content {
  @media (max-width: 1280px) {
    font-size: 0.9em;
  }
  color: $colorSecondary;
  font-weight: 500;
  font-size: 1.1em;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.externalLink {
  text-decoration: none;
  cursor: pointer;
}
