// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.confirmationModalContainer {
  @media (max-width: $breakpointMobile) {
    position: relative;
    top: -10em;
    left: 0;
    z-index: 999;
    width: 100%;
    height: unset;
    background-image: unset;
  }
  position: absolute;
  top: 400%;
  left: 20%;
  background-image: radial-gradient(
    120% 100% at 110% 0,
    $colorTertiary 0,
    $colorPrimary 100%
  );
  width: 80%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.confirmationModalContainer__modal {
  z-index: 2;
  padding: 2em;
  background: $colorQuaternary;
  border: 2px solid palegoldenrod;
  border-radius: 8px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2em;
  text-align: center;
}

.confirmationModalContainer__modal__message {
  color: #f1f1f1;
}

.confirmationModalContainer__modal__button {
  @include submitButton;
  width: 25%;
  color: #000000;
  align-items: center;
  justify-content: center;
}
