// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.homeContainer {
  display: flex;
  position: absolute;
  z-index: -2;
  min-width: 100%;
}

.homeMain {
  display: flex;
  width: 20%;
}

// ********** VIDEO IN BACKGROUND **********

.homeContainer__videoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  background: $colorBgDark;
}

.homeContainer__videoContainer__video {
  animation: videoFadeIn 31s ease infinite;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 30em 0;
}