// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.main {
  display: flex;
  flex-flow: wrap;
}

.main__sections {
  @media(max-width: $breakpointMobile) {
    width: 100%;
  }
  width: 40%;
  display: flex;
  flex-flow: column;
}

.main__background {
  @media(max-width: $breakpointMobile) {
    display: none;
  }
  width: 40%;
  height: 1500px;
}