// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.indexWrapper {
  display: flex;
  flex-flow: wrap;
}

.navWrapper {
  width: 20%;
  height: 100vh;
  position: sticky;
  top: 0;
}


.descriptionWrapper {
  width: 30%;
  margin-right: 50%;
}

.servicesDescriptionWrapper {
  width: 30%;
  margin-left: 20%;
  margin-right: 50%;
}

.portFolioDescriptionWrapper {
  width: 30%;
  height: 100vh;
  margin-left: 20%;
}

.carouselWrapper {
  position: absolute;
  top: 200%;
  left: 50%;
  display: flex;
  align-items: center;
  width: 50%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  background: $colorBgDark;
  border-bottom: 2px solid #218e83;
}

// ********** Video wrapper **********

.homeVideoContainer {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  background: $colorBgDark;
  border-bottom: 2px solid #218e83;
}

.servicesVideoContainer {
  position: absolute;
  top: 100%;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -2;
  overflow: hidden;
  background: $colorBgDark;
  border-bottom: 2px solid #218e83;
}
