// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.sectionContact {
  @media (max-width: $breakpointMobile) {
    height: 100%;
    flex-flow: column;
    border: unset;
  }
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: url('../../Assets/Images/bg2.webp');
  background-size: cover;
  border-top: 12px solid $colorQuaternary;
  border-left: 12px solid $colorQuaternary;
  border-right: 12px solid $colorQuaternary;
}

.sectionContact__container {
  @media (max-width: $breakpointMobile) {
    padding: unset;
  }
  @media (max-width: $breakpointTablet) {
    height: unset;
    margin-top: 5em;
  }
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  gap: 1em;
  padding: 2em;
  width: 100%;
  height: 100%;
}

.sectionContact__container__intro {
  @media (max-width: $breakpointTablet) {
    margin-bottom: 5em;
  }
  display: flex;
  flex-flow: column;
  text-align: center;
  color: #000000;
  gap: 2em;
}

.sectionContact__container__intro__title {
  @include titleStyle;
  color: #f1f1f1;
  @include lineSubtitle;
}

.sectionContact__container__body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.sectionContact__container__body__form {
  @media (max-width: $breakpointTablet) {
    width: 100%;
  }
  background: $colorQuaternary;
  border-radius: 8px;
  box-shadow: $boxShadowCard;
  border: 2px solid palegoldenrod;
  padding: 2em;
  width: 50%;
  display: flex;
  flex-flow: column;
  gap: 1.5em;
  color: #f1f1f1;
}

.sectionContact__container__body__form__label {
  @include lineSubtitle;
  font-size: 1.2em;
}

.sectionContact__container__body__form__input {
  font-size: 1.2em;
  padding: 0.5em;
  border-radius: 4px;
  border: none;
}

.sectionContact__container__body__form__textarea {
  padding: 0.5em;
  font-size: 1.2em;
  height: 10em;
  border-radius: 4px;
}

.sectionContact__container__body__form__button {
  @include submitButton;
  font-size: 1.2em;
  width: 50%;
  align-self: center;
  justify-content: center;
  color: #000000;
}
