// import SCSS Utils
@import '/src/Utils/Styles/variables';
@import '/src/Utils/Styles/mixins';
@import '/src/Utils/Styles/keyframes';

.sectionDescription {
  width: 30%;
}

.descriptionContainer {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 2em;
  flex-flow: column;
  justify-content: center;
  background-image: radial-gradient(
    120% 100% at 110% 0,
    $colorTertiary 0,
    $colorPrimary 100%
  );
  padding: 1em;
  border-radius: 0 8px 8px 0;
}

.descriptionContainer__intro {
  display: flex;
  flex-flow: column;
  text-align: center;
  color: #000000;
}

.descriptionContainer__intro__subtitle {
  font-size: 1.5em;
}

.descriptionContainer__intro__name {
  font-size: 2.5em;
}

.descriptionContainer__picture__fig {
  width: 100%;
  display: flex;
  justify-content: center;
}

.descriptionContainer__picture__fig__img {
  width: 15em;
  height: 19em;
  object-fit: cover;
  border-radius: 18px;
  border: 2px solid $colorPrimary;
  box-shadow: $boxShadowItem;
}

.descriptionContainer__description {
  color: #f1f1f1;
  background: $colorBgDark;
  border-radius: $borderRadiusCards;
  box-shadow: $boxShadowCard;
  padding: 2em;
  display: flex;
}

.descriptionContainer__description__text {
  font-size: 1.4em;
  line-height: 2em;
}
