@import '/src/Utils/Styles/variables';

.background__fig {
  @media(max-width: $breakpointTablet) {
    display: none;
  }
  width: 102.3%;
}

.background__fig__img {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  border: 12px solid $colorQuaternary;
}